<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{rep.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-card-content>
      <ion-img *ngIf="rep.image.url !== null" src={{rep.image.url}}></ion-img>
      <ion-button >Add to Fav</ion-button>
    </ion-card-content>

    <ion-card-content>

      Intelligence :
      <progress color='primary' max="100" value='{{rep.powerstats.intelligence}}'></progress>
      Strength :
      <progress color='primary' max="100" value='{{rep.powerstats.strength}}'></progress>
      Speed :
      <progress color="primary" max="100" value='{{rep.powerstats.speed}}'></progress>
      Durability :
      <progress color="primary" max="100" value='{{rep.powerstats.durability}}'></progress>
      Power :
      <progress color="primary" max="100" value='{{rep.powerstats.power}}'></progress>
      Combat :
      <progress color="primary" max="100" value='{{rep.powerstats.combat}}'></progress>


    </ion-card-content>

</ion-content>
