<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Search
    </ion-title>
    <ion-searchbar type="text" placeholder="Hero"(keyup.enter)="onSearchHero($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="scroll" *ngIf="listHeros">
    <ion-card *ngFor="let data of listHeros" (click)="onClickHero(data)">
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{data.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img src={{data.image.url}}></ion-img>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
